header{
    background-color:rgb(13,51,98);
    display: flex;
    align-items: center;
    vertical-align: middle;
    color: blanchedalmond;
    font-family: 'Hubballi', cursive;
}

.logo{
    width: 200px; height: 200px;
}